*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body, html {
    width: 100%;
    height: 100%;
    color: white;
    background-color: lightpink;
}

.button {
    height: auto;
    width: auto;
    position: relative;
    z-index: 1;
}



.menu {
    background-color: lightBlue;
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    top: 0;
    left: 0;
    transform: scale(0.04) translateY(-100vh);
}
.open.menu {
    animation: menuAnimation 2s ease forwards;
    transition: all 2s ease;
}

@keyframes menuAnimation {
    0% {
        transform: scale(0.04) translateY(-100vh);
        opacity: 0;
    }
    5% {
        opacity: 1;
    }
    40% {
        transform: scale(0.04) translateY(0vh);
        transition: ease-out;
    }
    50% {
        transform: scale(0.02) translateY(0vh);
    }
    51% {
        transform: scale(0.04) translateY(0vh);
    }
    99% {

    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.menu::before {
    content: "";
    width: 95%;
    height: 80%;
    position: absolute;
    top: 10%;
    left: 2.5%;
    border-top: 1px white solid;
    border-bottom: 1px white solid;
    transform: scale(0, 1);
    opacity: 0;
}

.open.menu::before {
    animation: beforeAnimation .75s ease 2s forwards;
}

@keyframes beforeAnimation {
    0% {
        opacity: 0;
        transform: scale(0,1);
    }
    100% {
        transform: scale(1, 1);
        opacity: 1;
    }
}

.menu::after {
    content: "";
    width: 90%;
    height: 90%;
    position: absolute;
    top: 5%;
    left: 5%;
    border-left: 1px white solid;
    border-right: 1px white solid;
    transform: scale(1,0);
    opacity: 0;
}

.open.menu::after {
    animation: afterAnimation .75s ease 2s forwards;
}

@keyframes afterAnimation {
    0% {
        opacity: 0;
        transform: scale(1,0);
    }
    100% {
        transform: scale(1, 1);
        opacity: 1;
    }
}